.login {
  width: 100%;
  height: 100%;
  background: #000080;
}

.tab {
  width: 400px;
  padding: 40px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  right: 15%;
  top: 25%;
  box-sizing: border-box;
}

.ant_form_item_control_input_content {
  flex: auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.ant_btn_primary {
  padding: 0 40px;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  color: #fff;
  width: 100%;
  background: linear-gradient(-90deg, #4e75ff, #0139fd);
}
