.header_logo {
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.header_logo .imgs {
    width: 120px;
    margin: 16px 28px 16px 0;
    float: left;
    line-height: 31px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-family: "\5B8B\4F53";
}
.imgs img {
    width: 100%;
    height: 100%;
}
.users {
    display: flex;
    align-items: center;
}
.users :nth-child(1) {
    display: inline-block;
    background: #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 50px;
}
.users :nth-child(2) {
    display: inline-block;
    margin-left: 5px;
}